USER_SERVICE_PORT=
QUESTION_SERVICE_PORT=
MATCHING_SERVICE_PORT=
COLLAB_SERVICE_PORT=
COLLAB_YJS_WS_PORT=
GATEWAY_PORT=
FRONTEND_PORT=

USER_DB_NAME=userdb
USER_DB_USER=postgres
USER_DB_PASSWORD=postgres

QUESTION_DB_NAME=questiondb
QUESTION_DB_USER=postgres
QUESTION_DB_PASSWORD=postgres

DEFAULT_DB_PORT=5432

USER_SERVICE_URL=http://user-service:${USER_SERVICE_PORT}
QUESTION_SERVICE_URL=http://question-service:${QUESTION_SERVICE_PORT}
MATCHING_SERVICE_URL=http://matching-service:${MATCHING_SERVICE_PORT}
COLLAB_SERVICE_URL=http://collaboration-service:${COLLAB_SERVICE_PORT}
COLLAB_WS_URL=ws://collaboration-service:${COLLAB_YJS_WS_PORT}
COLLAB_YJS_WS_URL=ws://localhost:${GATEWAY_PORT}/ws/yjs
COLLAB_CHAT_WS_URL=ws://localhost:${GATEWAY_PORT}/ws/chat
GATEWAY_URL=/api
FRONTEND_URL=http://localhost:${FRONTEND_PORT}

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=JWT_SECRET_KEY
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
ADMIN_USERNAME=admin123
