USER_SERVICE_PORT=
QUESTION_SERVICE_PORT=
GATEWAY_PORT=
FRONTEND_PORT=

USER_DB_NAME=userdb
USER_DB_USER=postgres
USER_DB_PASSWORD=postgres

QUESTION_DB_NAME=questiondb
QUESTION_DB_USER=postgres
QUESTION_DB_PASSWORD=postgres

DEFAULT_DB_PORT=5432

USER_SERVICE_URL=http://user-service:${USER_SERVICE_PORT}
QUESTION_SERVICE_URL=http://question-service:${QUESTION_SERVICE_PORT}
GATEWAY_URL=http://localhost:${GATEWAY_PORT}/api
FRONTEND_URL=http://localhost:${FRONTEND_PORT}

JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_USERNAME=
