USER_SERVICE_PORT=3000
QUESTION_SERVICE_PORT=3001
MATCHING_SERVICE_PORT=3002
GATEWAY_PORT=3004
FRONTEND_PORT=3038
COLLAB_SERVICE_PORT=3003
COLLAB_YJS_WS_PORT=8081

DB_HOST=
DB_USER=
DB_PASSWORD=

USER_DB_NAME=userdb
QUESTION_DB_NAME=questiondb

USER_SERVICE_URL=http://user-service:3000
QUESTION_SERVICE_URL=http://question-service:3001
MATCHING_SERVICE_URL=http://matching-service:3002
COLLAB_SERVICE_URL=http://collaboration-service:3000
COLLAB_WS_URL=ws://collaboration-service:8081
COLLAB_YJS_WS_URL=/ws/yjs
COLLAB_CHAT_WS_URL=/ws/chat
GATEWAY_URL=/api

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=JWT_SECRET_KEY
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
ADMIN_USERNAME=admin123

# AWS S3 — question service
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=peerprep-question-image
